version: "2.3"

services:
  node:
    volumes:
      - source: .
        target: /monofo
        type: bind
    image: ${NODE_IMAGE_TAG:-239595706494.dkr.ecr.us-west-2.amazonaws.com/build-cache:monofo-node-main}

  plugin-lint:
    image: buildkite/plugin-linter
    command: ['--id', 'vital-software/monofo']
    volumes:
      - ".:/plugin:ro"

  plugin-tests:
    image: buildkite/plugin-tester
    command: bats hooks/
    volumes:
      - ".:/plugin:ro"
